.coding-container {
    margin: 2rem;
}

.description {
    margin: 1rem 0.5rem;
}
.nav-item {
    color: rgb(117, 117, 117) !important;
}

.navTabs {
    background: #fafafa !important;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

.nav-item:hover {
    color: rgb(117, 117, 117) !important;
    border: #fff !important;
}
.nav-item.active:hover,
.nav-item.active:focus {
    border: 1px solid !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}
.tab-content {
    border: 1px solid #eeeeee;
}
.question-title {
    display: flex;
    font-size: 1.3rem;
    margin-left: 0.4rem;
}
.head {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background: #fafafa;
}
.head .question {
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}
.solution-title {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}

.solution hr {
    margin: 0.5rem 0;
    /* background: #e0e0e0; */
    height: 1px;
}

.solution-description {
    padding: 0 0.3rem;
}

.solution-description p,
.sample-inputs p,
.code-content p {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
}

.difficulty {
    color: rgb(239 108 0);
    margin-left: 0.4rem;
}

.code-content {
    margin: 1rem 0;
}

.sample-inputs pre,
.console-container pre,
.solution-description pre {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    overflow: auto;
    /* word-wrap: keep-all; */
    white-space: pre-wrap;
    padding: 9.5px;
}
.editor-option-form {
    justify-content: initial;
}
.editor-container {
    height: 80vh;
}
.editor-container .head {
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0;
    justify-content: flex-end;
}
.editor-select {
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #cfd8dc;
    height: 36px;
    font-size: 1rem;
    background: #fafafa;
}

.editor-select:hover {
    border-color: #263238;
    color: #263238;
    background: #fafafa;
}
.editor-select:focus {
    box-shadow: none !important;
    border-color: #263238;
    color: #263238;
}

/* .editor-select option:hover,
.editor-select option:focus,
.editor-select option:active {
    background-color: red !important;
    cursor: pointer !important;
    box-shadow: 0 0 10px 100px #1882A8 inset !important;
} */
.editor-icons {
    color: #b0bec5 !important;
}
.editor-icons:hover {
    color: #263238 !important;
}
.editor {
    /* position: relative;
    width: 100%;
    height: 100%; */
    margin: 0.5rem auto;
    border: 1px solid #eeeeee;
}
.CodeMirror {
    height: 60vh !important;
    width: auto;
    /* max-width: 691px; */
    border: 1px solid #eeeeee;
}
.CodeMirror-linenumbers {
    padding: 1px 8px 0 5px;
    font-size: 10px;
}
.CodeMirror-wrap pre {
    word-break: break-word;
}
.editor-controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.coding-container i {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}
.editor-controls .button {
    border-color: #b0bec5;
    margin-right: 15px;
    min-width: 80px;
    cursor: pointer;
    height: 32px;
    padding: 0px 9px;
    align-items: center;
    border-radius: 3px;
    outline: 0px;
    font-size: 0.92rem;
}

.run-code-btn,
.reset-code-btn {
    background: #fff;
    color: rgb(69, 90, 100);
}
.run-code-btn:hover,
.run-code-btn:active,
.run-code-btn:focus,
.reset-code-btn:hover,
.reset-code-btn:active,
.reset-code-btn:focus {
    border-color: #263238 !important;
    color: #263238 !important;
    background: #fff !important;
    background-image: none !important;
    box-shadow: none !important;
}
.submit-code-btn {
    background: rgb(69, 90, 100);
}
.submit-code-btn:hover,
.submit-code-btn:active,
.submit-code-btn:focus {
    border: none !important;
    background: rgb(84, 110, 122) !important;
    background-image: none !important;
    box-shadow: none !important;
}

@media (max-width: 870px) {
    .coding-container {
        flex-direction: column;
    }
    .editor-container .head {
        margin-top: 0.5rem;
    }
    .CodeMirror {
        max-width: none;
    }
}

@media (max-width: 574px) {
    .editor-container .head {
        justify-content: center;
    }

    .editor-option-form {
        display: flex !important;
        justify-content: space-between;
    }
    .editor-select {
        margin: 0.5rem 0.7rem;
        width: 40%;
    }
}

@media (max-width: 455px) {
    .editor-controls {
        flex-direction: column;
    }
    .editor-actions {
        margin-top: 0.5rem;
    }
    .console-container pre {
        margin-bottom: 2rem !important;
    }
}