.container-problems {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 0px !important;
  border-radius: 7px !important;
  box-shadow: 1px 1px 1px 1px rgb(151, 148, 148);
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family:'Lato',sans-serif; */
  font-weight: 500 !important;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family:'Lato',sans-serif; */
  font-weight: 550 !important;
  color: #18065c;
}

.title-border {
  width: 200px;
  height: 1px;
  margin: 0px auto 30px;
  background-color: #e1e1e1;
  display: block;
}

.title-border span {
  width: 100px;
  height: 2px;
  margin: auto;
  background-color: #775ecf;
  display: block;
}

.topic {
  background-color: #f1effa;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  min-height: 50px;
  box-shadow: 1px 0.5px 0px 0px rgb(204 196 196);
}

.topic-right {
  float: right;
}

.topic-name {
  margin-top: 15px;
}

.searchField {
  width: 100% !important;
  background-color: #f1effa !important;
  border: none !important;
  box-shadow: 1px 1px 0px 0px rgb(204, 196, 196);
  border-radius: 10px !important;
}

.searchField:focus {
  border: none !important;
  box-shadow: 0 -3px 0px #775ecf inset, 8px 0 0 white !important;
  outline: 0 none;
}

.practice-btn {
  background-color: #775ecf !important;
  font-size: 15px !important;
  border-radius: 7px !important;
  float: right;
  width: 200px;
}

.practice-btn:active,
.practice-btn:focus {
  box-shadow: 0 2px 1px #412e85 inset, 0 0 8px white !important;
  background-color: #412e85 !important;
  outline: 0 none;
}

.op {
  margin-top: 13px;
}

hr.hr-1 {
  border-top: 2px solid rgb(235, 229, 229);
}

.Addmore-btn {
  background-color: #775ecf !important;
  font-size: 15px !important;
  border-radius: 7px !important;
  width: 500px;
}

.Addmore-btn:active,
.Addmore-btn:focus {
  box-shadow: 0 2px 1px #412e85 inset, 0 0 8px white !important;
  background-color: #412e85 !important;
  outline: 0 none;
}

@media (max-width: 576px) and (min-width: 0px) {
  .Addmore-btn {
    width: 300px;
  }
}
